textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    margin-bottom: 10px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 6px;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

textarea:focus {
    box-shadow: 0 0 5px rgba(102, 93, 245, 0.7);
    border: 2px solid rgba(102, 93, 245, 0.7);
  }

.form-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    background-color: #fff;
    color: #665df5;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border: 2px solid #665df5;
    cursor: pointer;
    font-size: 22px;
}
  
.submit-btn:hover {
    background-color: #665df5;
    color: #fff;
}


@media (min-width:468px) {
    
    .form-container {
        width: 50%;
        margin: 0 auto;
        margin-top: 30px;
    }

}

@media (min-width:1440px) {

    textarea {
        height: 60vh;
    }

}
   