* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.index-header {
    /* color: #665df5; */
    /* color: #660077; */
    color: #4438f5;
    font-weight: 700;
    margin-bottom: 12px;
}

.index-section {
    margin-left: 20px;
    width: 90%;
}

.index-content {
    font-family: Muli,sans-serif;
    font-size: 16px;
    color: #505050;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

.responsive-img {
    /* margin-top: 20px; */
    max-width: 100%;
    height: auto;
}

@media (min-width: 468px) {

    
    .index-section {
        margin-left: 80px;
        width: 50%;
    }
    
    .index-content {
        font-size: 16px;
    }

    .outer-container {
        display: flex;
    }
}