@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

.logo {
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    margin-left: 80px;
}

.logo a {
    /* color: #660077; */
    color: #665df5;
    text-decoration: none;
}

.logo a:hover {
    opacity: 0.8;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 16vh;
    background-color: #fff;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-left: auto;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #505050;
    text-decoration: none;
    font-size: 14px;
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.nav-links a:hover {
    color: #665df5;  
}

.nav-links a:after {
    display: block;
    content: '';
    border-bottom: solid 3px #665df5;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.nav-links a:hover:after { 
    transform: scaleX(1); 
}


@media (max-width:768px) {

    .logo {
        position: absolute;
        left: 2px;
        margin-left: 20px;
        font-size: 14px;
    }

    .burger {
        position: absolute;
        right: 20px;
        z-index: 2;
        cursor: pointer;
    }

    .burger div {
        width: 30px;
        height: 3px;
        background-color: #A0A0A0;
        margin: 5px;
        transition: all 0.5s ease;
    }

    .nav {
        min-height: 12vh;
    }

    .nav-links {
        position: absolute;
        top: 0vh;
        right: 0px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #665df5;
        z-index: 1;
        display: none;
        transition: all 0.5s;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a {
        font-size: 28px;
        color: #fff;
    }

    .nav-links a:after {
        border-bottom: solid 3px #666666;  
    }
    
}

.nav-active {
    display: flex;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX90px;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}