.question-list-container {
    margin-top: 40px;
}

.question-card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 10px;
    background-color: #660077;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    border: 2px solid #660077;
}

.question-card:hover {
    border: 2px solid yellow;
}

.bookmark-btn {
    float: right;
    cursor: pointer;
    position: relative;
    top: -8px;
    right: -6px;
}

.bookmark-btn:hover {
    opacity: 0.7;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.remove-btn {
    width: 80%;
    background-color: #fff;
    color: #660077;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    border: 2px solid #660077;
    cursor: pointer;
    font-size: 18px;
}

.remove-btn:hover {
    background-color: #660077;
    color: #fff;
}


@media (min-width: 468px) {

    .question-card {
        width: 45%;
        padding: 30px 20px;
        font-size: 20px;
    }

    .bookmark-btn {
        float: right;
        cursor: pointer;
        position: relative;
        top: 2px;
        right: -14px;
    }

    .remove-btn {
        width: 30%;
    }
    

}